body {
    margin: 0;
    background: #262626;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    color: #666;
}

img {
    max-height: 100vh;
    max-width: 100vw;
    top: 50%;
    transform: translate(0, -50%);
    position: relative;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* ctrl+v & drag and drop */
#bg_text {
    text-align: center;
    position: fixed;
    top: 50%; /* аналогично этому: https://webformyself.com/3-stroki-css-dlya-vyravnivaniya-po-vertikali/ */
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 65px;
    color: rgba(250, 250, 250, 0.8);
    opacity: 0.07;
}
#bg_text {
    cursor: pointer; 
    cursor: hand;
}
#get_img {
    display: none;
}

.tg {
    top: 1vh;
    left: calc(1vh + 5px);
    border-collapse: collapse;
    border-spacing: 0; 
    border: none;
    position: fixed;
    z-index: 100;
}
.tg td {
    font-family: Arial, sans-serif;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
    font-size: x-large;
    vertical-align: middle;
    text-shadow: #262626 1px 1px 0; /* для читабельности даже при цвете картинки, совпадающем с цветом текста */
}
td[colspan="2"] {
    text-align: center;
}
#bg_color_row {
    transition: opacity 0.2s;
}

#bg_color {
    transition: background-color 0.2s;
}

input[type=text] {
    padding: 5px 10px;
    text-align: left;
    font-family: Consolas, monospace;
    font-size: x-large;
    color: #bbb;
    background: #444;
    border: none;
    width: 100px;
}

/* радио кнопки */
input[type="radio"]:checked + label {
    transition: color 0.2s;
    color: #bbb;
}
input[type="radio"]:not(checked) + label {
    color: #666;
}
input[type="radio"] {
    opacity: 0;
    margin: -10px; /* костыль относительно размера + отступа самой кнопки */
}

/* фикс синего свечения вокруг активного объекта */
input:focus, select:focus, button:focus {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

#render {
    color: #bbb;
    font-size: x-large;
    border: none;
    background: #444;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: background-color 0.2s;

}
#render:hover {
    background: #383838;
    cursor: pointer; 
    cursor: hand;
    text-decoration: none;
}
#render:active {
    background: #333;
}